################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Client/obj
/Client_GUI/obj
/Server/obj
/Server_GUI/obj