################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Arkon_Auth/DesignTimeBuild/.dtbcache.v2
